.klickbares {
  text-align: center;
   font-family: 'Poppins', Arial, sans-serif;
}

h2 {
  text-align: center;
   font-family: 'Poppins', Arial, sans-serif;
}

#fisher {
  transition: transform 0.1s ease;
}
#fisher:active {
  transform: scale(0.9);
}

button {
  transition: transform 0.1s ease;
}
button:active {
  transform: scale(0.95);
}



/* Button */
#showBtn {
  position: fixed;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  background: #00bfa6;
  color: white;
  border: none;
  padding: 20px 25px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1001; /* über allem */
  transition: background 0.2s ease;
}

#showBtn:hover {
  background: #00a08c;  
}


/* Slide-Box  */
#slideBox {
 position: fixed;
  top: 0;
  right: -690px; /* versteckt außerhalb des Bildschirms */
  width: 300px;
  height: 50%;
   transform: translateY(+50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
  transition: right 0.4s ease;
  z-index: 1000; /* über allem anderen */
}

#slideBox img {
  width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#slideBox.show {
  right: -100; /* sichtbar */
}









