.klickbares {
  text-align: center;
   font-family: 'Poppins', Arial, sans-serif;
}

h2 {
  text-align: center;
   font-family: 'Poppins', Arial, sans-serif;
}

#fisher {
  transition: transform 0.1s ease;
}
#fisher:active {
  transform: scale(0.9);
}

button {
  transition: transform 0.1s ease;
}
button:active {
  transform: scale(0.95);
}

body {
  background-color: #181818;
  color: white;
  font-family: 'Poppins', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

/* Button */
#showBtn {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: background 0.3s ease, transform 0.2s ease;
}

#showBtn:hover {
  background: #ff9933;
  transform: scale(1.1);
}


/* DIE BOX SELBST  */
#slideBox {
  position: fixed;
  right: -360px; /* versteckt */
  top: 0;
  width: 340px;
  height: 100%;
  background-color: #2a2a2a;
  border-right: 3px solid #ff6600;
  border-radius: 0 12px 12px 0;
  box-shadow: 5px 0 15px rgba(0,0,0,0.4);
  transition: left 0.5s ease;
  z-index: 9999;
  padding: 20px;
  overflow-y: auto;
  color: white;
}

#slideBox img {
  width: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#slideBox.show {
  right: 0; /* sichtbar */
}




}
